.search-btn{
    @include btn;
    padding:14px 40px;
    cursor:pointer;
}

.seemore-btn{

    @include btn;
    padding: 12px 20px;

    @include sm{
        width:100%;
        text-align:center;
    }
}

.top-left {
    &:before {
      top: 0;
      bottom: 0;
      left: -125%;
      transform: skewX(-45deg);
      width: 100%;
    }
    &:hover {
      &:before {
        width: 250%;
        border-color: $color-dark-black;
      }
    }
  }



// arrow animation
.arrow {
    color: $color-blue;
    text-decoration: none;
    text-align: center;

    &::after {
        display: inline-block;
       margin-left: 26px;
        content: "\0279E"; // arrow right unicode
        -webkit-transition: transform 0.3s ease-out;
        -moz-transition: transform 0.3s ease-out;
        -ms-transition: transform 0.3s ease-out;
        -o-transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
    }

    &:hover {
        cursor: pointer;

        &::after {
            -webkit-transform: translateX(4px);
            -moz-transform: translateX(4px);
            -ms-transform: translateX(4px);
            -o-transform: translateX(4px);
            transform: translateX(4px);
        }
    }
}

.mb-link{
    display: none;
@include sm{
    display: block;
}
}


