.search-btn{
    @include btn;
    padding:14px 40px;
    cursor:pointer;
}

.seemore-btn{

    @include btn;
    padding: 12px 20px;
}

// Animations
.btn-animate{

    i{
        margin-left:26px;
    }

    &:hover{
        i{
            margin-left:30px
        }
    }
}

// Overlay Button
.overlay-play-button__play {
    border-radius: 50%;
    height: 112px;
    width: 112px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index:2;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: $color-white;


    &:hover{
        cursor: pointer;
    }

}


