/* ==================
------ Common ------
================== */
.container {
    max-width: 1320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.container-md{
max-width: 1140px;
margin:0 auto;
padding: 0 20px;
}

.ml-14{
    margin-left:14px
}

.ml-26 {
    margin-left: 26px;
}

.mb-77 {
    margin-bottom: $mb-77;
}

img{
    display: block;
}

.mbl-d-none{
    @include sm{
        @include display(none);
    }
}

.mb-btn{
    @include display(none);

    @include sm{
        @include display(block);
    }
}

/* ==================
------ Hero ------
================== */

.hero-main {
    height: 100%;
}

.hero {
    position: relative;
    height: 100vh;

    .hero-bg{
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;

        .hero-bg-img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }

    .hero-content {
        @include flex(flex,center,start);
        min-height: 100vh;
        flex-direction: column;
        padding-bottom: 80px;

        @include sm{
            padding-bottom:0;
        }

        .hero-heading {
            margin-bottom: 22px;
            width: 66%;


            @include lg{
                width: 100%;
                text-align: center;
            }

            @include sm{

                font-size:$txt-lg;
            }
        }

        .hero-description {
            padding-right: 73px;
            margin-bottom: 59px;
            width: 70%;

            @include lg{
                text-align: center;
                padding: 0 73px;
                width:100%
            }

            @include sm{

                font-size:$txt-md;
                padding: 0;
                
            }
        }
    }
}


/* ==================
------ Floating Info ------
================== */

.floating-content {
    box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
    padding: 93px 63px 100px 100px;
    margin-top: -200px;
    margin-bottom: 50px;
    background: #fff;

    .heading-md-info {
        margin-bottom: 120px;

        @include sm{
            margin-bottom:0;
            text-align: center;
            font-size:$heading-sm;
            padding:20px 0;
        }
    }


    @include md{
        top:-162px
    }


    @include sm{
       top: 0;
       padding:0;
       margin:10px 0;
    }
}



/* ==================
------ PLaces to visit ------
================== */

.top-places {
    padding-bottom: 121px;

    @include sm{
        padding:0;
        margin: 50px 0
    }
}

.top-place-head {
    @include flex(flex, space-between, center);
}

.top-place-main {
    margin-top: 36px
}

.top-place-img {
    @include flex(flex, space-between, null);
    width: 100%;
    gap: 10px;
    margin-bottom: 10px;

    @include sm{
        flex-direction: column;
    }

    
}

.top-place-card {
    position: relative;
    overflow: hidden;

    .top-place-card-title {
        position: absolute;
        bottom: 29px;
        left: 27px;
        z-index: 2;
    }


    &::after {
        content: "";
        background-color: $color-eerieb-black;
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .5s ease all;

    }

    .top-place-card-image{
        transition: .5s ease all;

    }

    &:hover{
        .top-place-card-image{
        transform: scale(1.1);}
    }

}


/* ==================
------ image and text ------
================== */

.place-info {
    margin-bottom: 50px
}

.place-info-main {
    display: flex;

    .place-info-main-content {

        @include flex(flex, center, start);
        flex-direction: column;
        text-align: start;

        @include sm{
            text-align: center;
        }
    }

    .place-info-content {

        margin-left: 31px;


        .place-info-content-description {
            width: 80%;
            margin: 45px 0 58px 0;

            @include sm{
                margin:20px 0;
                width: 100%;
            }
        }

        @include sm{
            margin: 10px 0;

            .place-info-content-description{
            margin:20px 0;
            width: 100%;
        }
        }
    }

    .place-info-main-image {
        width: 100%;
    }


    @include sm{
        display:block;

        .place-info-content-heading br{
            display:none;
        }
    }
}




/* ==================
------ Video------
================== */


    iframe {
        object-fit: cover;
        display: block;
        width: 100%;
    }