footer {
    background-color: $color-dark-black;
    color: #bbb;
    line-height: 1.5 !important;
    padding: 50px 0 !important;

    .ft-list {
        list-style: none;
        padding-left: 0;
    }
}


.ft-title {
    padding-bottom: 10px;
}

.ft-main-logo {
    width: 40%;
    display: flex;

    @include sm{
        width: 100%;
        @include flex(flex,center,center)
    }
}

/* Footer main */
.ft-main {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;

    @include sm{
        flex-direction: column;
    }
}

.ft-main-content {
    width: 60%;

    @include flex(flex,space-between,null);

    @include sm{
        @include flex(flex,space-between,start);
        width: 100%;
    }
}

.ft-main-item {
    padding: 20px;
}
