
.header {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    padding: 20px 0;

   @include viewport-lg {
        background-color: $color-dark-black;
    }
}

.navbar {
    @include flex(flex,space-between,center);
    flex-direction: row;
    width: 100%;
    margin: auto;

    .show__nav {
        height: calc(212px + 30px); // js related 
        @include flex(flex,null,null);
        flex-direction: column;
    }

   @include viewport-lg {
        &-bg-show {
            top: calc(100% - 10px);
            position: absolute;
            height: 0;
            width: 100vw;
            left: 0;
            

            .show__nav {
                @include flex(flex,space-evenly,center);
                flex-direction: column;
                left: 0;
                height: 700px;
                background-color: $color-dark-black;
                opacity: 1;
                visibility: visible;
                transition: all 0.5s ease-in-out;
                

                li{
                    transition: all 2s ease-in-out;
                }
            }
        }

    }
}

.main-nav {
    opacity: 0;
    visibility: hidden;

    &-links {
        margin-right: 30px;

        &:last-child{
            margin-right:0
        }

       @include viewport-lg{
            margin-right: 0
        }
    }

   @include viewport-xl {
        @include flex(flex,null,null);
        opacity: 1;
        visibility: visible;
    }


}

.menu-icon {
    position: relative;
    cursor: pointer;
    z-index: 1;
    @include display(none);

    @include viewport-sm {
        @include display(block);
    }

}

.menu-btn {
    @include display(none);
}


// Navbar using span
.burger_menu {
    cursor: pointer;
    padding:30px 20px;
    @include display(none);

    &-lines{
        background: $color-white;
        height: 3px;
        width: 32px;
        @include display(block);
        position: relative;
        transition:all ease 0.1s;

        &::after{
            @extend %mobile-navbar-hamburger;
             top: 7px;
        }

        &::before{
            @extend %mobile-navbar-hamburger;
            top: -7px;
        }
    }

   @include viewport-lg{
        @include display(inline-block)
    }
  }

  /* Open Menu */
  .burger_menu.open span {
      background:transparent;

      &::before{
        transform:rotate(45deg);
      top:0;
      }

      &::after{
        transform:rotate(-45deg);
        top:0;
    }
  }

  // Scroll Background
.nav-active {
    background-color: $color-dark-black;
    transition: 0.2s ease-in-out;
}

