
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-decoration-none{
    text-decoration: none;
}


header.header{
    position:fixed;
    width:100%;
    z-index: 3;
    top: 0;
    padding:20px 0
}

.nav-active{
    background-color: $color-blue;
    transition: 0.2s ease-in-out;
}

.logo a,
.main-nav a {
	text-align: center;
	display: block;

    &:hover{
        color:$color-black;
        transition: 0.5s
    }
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: row;
    width: 85%;
    margin: auto;
    .main-nav {
        margin-top: 5px;
        display: flex;
    }
    .logo {
        margin: 0;
        font-size: 1.45em;
    }
}

.main-nav {
    margin-top: 5px;
    display: flex;

    .main-nav-links{
        margin-right:30px
    }

}

