@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.heading-lg {
  font-size: 50px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  line-height: normal;
}

.heading-md {
  font-size: 35px;
  color: #102746;
  font-family: "Lato", sans-serif;
}
.heading-md::after {
  content: "";
  width: 52%;
  display: block;
  border-bottom: 3px solid #1b7dff;
  margin-top: 6px;
}

.heading-md-info {
  font-size: 35px;
  color: #102746;
  font-family: "Lato", sans-serif;
}

.heading-sm {
  font-size: 30px;
  color: #102746;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.txt-lg {
  font-size: 24px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.text-md-black {
  font-size: 18px;
  color: #000000;
  font-family: "Lato", sans-serif;
}

.txt-md-white {
  font-size: 18px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.txt-sm-black {
  font-size: 16px;
  color: #000000;
  font-family: "Lato", sans-serif;
  line-height: 24px;
}

.txt-sm-white {
  font-size: 16px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  line-height: 24px;
  text-decoration: none;
}

.primary-link {
  font-size: 16px;
  color: #1b7dff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.primary-link:hover {
  color: #000000;
}

.navbar-link {
  font-size: 18px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
}

.description-link {
  font-size: 16px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.description-link:hover {
  text-decoration: underline;
}

.search-btn {
  background-color: #1b7dff;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  padding: 14px 40px;
  cursor: pointer;
}
.search-btn:hover {
  background-color: #ffffff;
  color: #1b7dff;
  transition: 0.2s ease;
}

.seemore-btn {
  background-color: #1b7dff;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  padding: 12px 20px;
}
.seemore-btn:hover {
  background-color: #ffffff;
  color: #1b7dff;
  transition: 0.2s ease;
}

.btn-animate i {
  margin-left: 26px;
}
.btn-animate:hover i {
  margin-left: 30px;
}

.overlay-play-button__play {
  border-radius: 50%;
  height: 112px;
  width: 112px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.overlay-play-button__play:hover {
  cursor: pointer;
}

/* ==================
------ Common ------
================== */
.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.ml-14 {
  margin-left: 14px;
}

.ml-26 {
  margin-left: 26px;
}

.mb-77 {
  margin-bottom: 77px;
}

/* ==================
------ Hero ------
================== */
.hero-main {
  height: 100%;
}

.hero {
  position: relative;
  height: 100vh;
}
.hero .hero-bg {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero .hero-bg {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.hero .hero-bg .hero-bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.hero .hero-content {
  position: absolute;
  top: 40%;
  left: 41%;
  transform: translate(-50%, -50%);
}
.hero .hero-content .hero-heading {
  margin-bottom: 22px;
  width: 80%;
}
.hero .hero-content .hero-description {
  padding-right: 73px;
  margin-bottom: 59px;
  width: 70%;
}

/* ==================
------ Floating Info ------
================== */
.floating-content {
  box-shadow: 0 2px 20px 0 rgba(21, 24, 36, 0.16);
  padding: 93px 63px 100px 100px;
  top: -200px;
  position: relative;
  background: #fff;
}
.floating-content .heading-md-info {
  margin-bottom: 120px;
}

.floating-main {
  display: flex;
  flex-wrap: wrap;
  gap: 3.3%;
}
.floating-main .floating-main-content {
  width: 30%;
  display: inline-block;
  margin-bottom: 58px;
}

.floating-main-content .floating-main-content-img {
  margin-bottom: 37px;
}
.floating-main-content .floating-main-content-heading {
  margin-bottom: 26px;
}
.floating-main-content .floating-main-content-description {
  margin-bottom: 39px;
}

/* ==================
------ PLaces to visit ------
================== */
.top-places {
  padding-bottom: 121px;
}

.top-place-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-place-main {
  margin-top: 36px;
}

.top-place-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  margin-bottom: 10px;
}
.top-place-img .top-place-card {
  position: relative;
}
.top-place-img .top-place-card .top-place-card-title {
  position: absolute;
  bottom: 29px;
  left: 27px;
  z-index: 2;
}
.top-place-img .top-place-card::after {
  content: "";
  background-color: rgba(21, 24, 36, 0.6);
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
}

/* ==================
------ image and text ------
================== */
.place-info {
  margin-bottom: 50px;
}

.place-info-main {
  display: flex;
}
.place-info-main .place-info-main-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  text-align: start;
}
.place-info-main .place-info-main-content .place-info-content {
  margin-left: 31px;
}
.place-info-main .place-info-main-content .place-info-content p {
  width: 80%;
  margin: 45px 0 58px 0;
}
.place-info-main .place-info-main-image {
  width: 100%;
}

/* ==================
------ place cards ------
================== */
.top-places-card-content {
  margin-top: 64px;
}

.place-cards .top-place-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-places-main {
  display: flex;
  flex-wrap: wrap;
  gap: 3.3%;
}
.top-places-main .top-place-main-content {
  width: 30%;
  display: inline-block;
  margin-bottom: 58px;
}

.card-content-banner {
  position: relative;
}
.card-content-banner .card-content-banner-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-content-banner .top-place-fig {
  position: absolute;
  bottom: 2px;
  background: rgba(21, 24, 36, 0.6);
  width: 100%;
}

.top-place-fig .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px;
}

.card-info-content .card-info-description {
  margin: 45px 0 31px 0;
}
.card-info-content .card-info-btn {
  display: inline-block;
}

/* ==================
------ Video------
================== */
.place-video {
  position: relative;
}
.place-video::after {
  content: "";
  background-color: rgba(21, 24, 36, 0.6);
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.place-video video {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-decoration-none {
  text-decoration: none;
}

header.header {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  padding: 20px 0;
}

.nav-active {
  background-color: #1b7dff;
  transition: 0.2s ease-in-out;
}

.logo a,
.main-nav a {
  text-align: center;
  display: block;
}
.logo a:hover,
.main-nav a:hover {
  color: #000000;
  transition: 0.5s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 85%;
  margin: auto;
}
.navbar .main-nav {
  margin-top: 5px;
  display: flex;
}
.navbar .logo {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
  display: flex;
}
.main-nav .main-nav-links {
  margin-right: 30px;
}

footer {
  background-color: #0e1d28;
  color: #bbb;
  line-height: 1.5 !important;
  padding: 50px 0 !important;
}
footer .ft-list {
  list-style: none;
  padding-left: 0;
}

.ft-title {
  padding-bottom: 10px;
}

.ft-main-logo {
  width: 40%;
  display: flex;
  justify-content: center;
}

/* Footer main */
.ft-main {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

.ft-main-content {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.ft-main-item {
  padding: 20px;
}

.hero-form {
  color: #fff;
  display: flex;
  align-items: center;
}

.form-main {
  padding: 22px 0;
  border-bottom: 1px solid #fff;
  margin-right: 30px;
  width: 50%;
}
.form-main input[type=radio i] {
  -webkit-appearance: radio;
     -moz-appearance: radio;
          appearance: radio;
  accent-color: #1b7dff;
  margin-right: 23px;
}/*# sourceMappingURL=styles.css.map */