
$color-white:#ffffff;

$color-black:#000000;

$color-dark-black:#0e1d28;

$color-eerieb-lack:rgba(21, 24, 36, 0.6);

$color-greyish:#bfc0c5;

$color-blue:#1b7dff;

$color-brandeis-blue:#006dfe;

$color-yankees-blue:#102746;






