
.heading-lg{
    font-size:$heading-lg;
    color:$color-white;
    font-family: $font-family;
    line-height: normal;

    @include lg{
        font-size:$heading-md;
    }

    @include sm{
        font-size:$heading-md;
    }
}

.heading-md{
    font-size:$heading-md;
    color:$color-yankees-blue;
    font-family: $font-family;

    &::after{
        content: "";
        width:52%;
        display: block;
        border-bottom: 2px solid #1b7dff;
        margin-top: 8px;

    }

    @include sm{
        font-size:$txt-lg;
    }
}

.heading-md-info{
    font-size:$heading-md;
    color:$color-yankees-blue;
    font-family: $font-family;
}

.heading-sm{
    font-size:$heading-sm;
    color:$color-yankees-blue;
    font-family: $font-family;
    font-weight: 600;

    @include sm{
        font-size:$txt-lg;
    }
}

.txt-lg{
    font-size:$txt-lg;
    color: $color-white;
    font-family: $font-family;
}

.text-md-black{
    font-size:$txt-md;
    color:$color-black;
    font-family: $font-family;
}

.txt-md-white{
    font-size:$txt-md;
    color:$color-white;
    font-family: $font-family;
}

.txt-sm-black{
    font-size:$txt-sm;
    color:$color-black;
    font-family: $font-family;
    line-height: 24px;
}

.txt-sm-white{
    font-size:$txt-sm;
    color:$color-white;
    font-family: $font-family;
    line-height: 24px;
    text-decoration: none;
}

.primary-link{
    font-size:$txt-sm;
    color:$color-blue;
    font-family: $font-family;
    text-decoration: none;

    &:hover{
        color:$color-dark-black;
    }
}

.navbar-link{
    font-size:$txt-md;
    color:$color-white;
    font-family: $font-family;
}

.description-link{
    font-size:$txt-sm;
    color:$color-white;
    font-family: $font-family;
    text-decoration: none;
}

